@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #dc143c;
    --nav-link: #767676;
    --light-background: #eef1f4;
    --light-background-2: #fff;
    --light-color: #111;

    --dark-background: #111;
    --dark-background-2: #222;
    --dark-color: #fff;

    --shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    --shadow-md: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175) !important;

    --shadow-dark-sm: 0 .125rem .25rem rgba(255, 255, 255, 0.075) !important;
    --shadow-dark-md: 0 .5rem 1rem rgba(255, 255, 255, 0.15) !important;
    --shadow-dark-lg: 0 1rem 3rem rgba(255, 255, 255, .175) !important;
    --inner-shadow: inset 29px -66px 48px 24px rgba(0, 0, 0, 0.32);

    --select-border: #393939;
    --select-focus: #101484;
    --select-arrow: var(--select-border);
}

/*--------------------------------------------------------------
# Main Style
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*outline: 1px solid limegreen !important;*/
}

@-webkit-keyframes target-fade {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@-moz-keyframes target-fade {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

html {
    scroll-behavior: smooth;
}

/**********  Scrollbar **********/

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(86, 83, 83);
}

body {
    background-color: var(--light-background);
    /* color: #111; */
}

/* Content */

label {
    display: inline-block;
    cursor: default;
}

input {
    box-shadow: var(--shadow-md);
    background: var(--light-background-2);
    color: var(--light-color);
}

.mb-3 {
    margin-bottom: 1.5rem;
}
/**************** Multi Select ****************/


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

/*  target the elemenent after the label*/

/*--------------------------------------------------------------
# Home Style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Aboutme Style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Service Style
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Skill
--------------------------------------------------------------*/

/* 
.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: 500.php;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: var(--main-color);
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500.php;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 80%;
}

.skills-content .right .php::before {
    width: 50%;
}

.skills-content .right .mysql::before {
    width: 70%;
} */

/*--------------------------------------------------------------
# contact
--------------------------------------------------------------*/

.input-form {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.input-form:focus {
    border-color: #b3b3b3;
}

.btn {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--main-color);
    background: none;
}


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Single Blog
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Login And Register Form
--------------------------------------------------------------*/

.login-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.login-form .container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.login-form .container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.login-form .container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}


.login-form .form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-bottom: 2.3rem;
}

.login-form .input-field input {
    position: inline;
    height: 100%;
    width: 100%;
    padding: 4 35px;
}

.login-form .input-field i {
    position: absolute;
    top: 100%;
    margin-top: 1px;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.login-form .input-field input:is(:focus, :valid) ~ i {
    color: #4070f4;
}

.login-form .input-field i.icon {
    left: 0;
}

.login-form .input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.login-form .form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.login-form .checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.login-form .checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.login-form .input-field label {
    margin-bottom: 0.5rem;
}


.login-form .form .text {
    color: #333;
    font-size: 14px;
}

.login-form .form a.text {
    color: #4070f4;
    text-decoration: none;
}

.login-form .form a:hover {
    text-decoration: underline;
}

.login-form .form .button {
    margin-top: 35px;
}

.login-form .form .button .btn {
    width: 100% !important;
}

.login-form .form .login-signup {
    margin-top: 30px;
    text-align: center;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Admin Pannel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Responsive Media Query Start
--------------------------------------------------------------*/


@media (max-width: 421px) {
    .title::after{
        font-size: 10px;
    }
}

:root {
    --main-color: #dc143c;
    --nav-link: #767676;
    --light-background: #eef1f4;
    --light-background-2: #fff;
    --light-color: #111;

    --dark-background: #111;
    --dark-background-2: #222;
    --dark-color: #fff;

    --shadow-sm: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    --shadow-md: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, .175) !important;

    --shadow-dark-sm: 0 .125rem .25rem rgba(255, 255, 255, 0.075) !important;
    --shadow-dark-md: 0 .5rem 1rem rgba(255, 255, 255, 0.15) !important;
    --shadow-dark-lg: 0 1rem 3rem rgba(255, 255, 255, .175) !important;
    --inner-shadow: inset 29px -66px 48px 24px rgba(0, 0, 0, 0.32);

    --select-border: #393939;
    --select-focus: #101484;
    --select-arrow: var(--select-border);
}

.dark {
    --light-color: var(--dark-color);
    --light-background: var(--dark-background);
    --light-background-2: var(--dark-background-2);

    --shadow-sm: var(--shadow-dark-sm);
    --shadow-md: var(--shadow-dark-md);
    --shadow-lg: var(--shadow-dark-lg);

    --nav-link: var(--dark-background-2);
}

html .dark::-webkit-scrollbar {
    width: 10px;
}

html .dark::-webkit-scrollbar-track {
    background-color: #202424;
}

.dark h2,
.dark p,
.dark .about .about-content .text dark .text {
    color: var(--light-color)
}


h2,
h4,
h5,
p {
    color: var(--light-color) !important;
}

p {
    margin: 0;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 1px;
    font-weight: 300;
}


.text-2 {
    font-size: 2rem;
    margin: 2rem 0;
    background: linear-gradient(to right,
            rgb(209, 16, 16) 0%,
            rgb(65, 13, 13) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--------------------------------------------------------------
# Main Style
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*outline: 1px solid limegreen !important;*/
}

:target {
    scroll-margin-top: 50px;
    -webkit-animation: target-fade 2s 1;
    -moz-animation: target-fade 2s 1;
}

@-webkit-keyframes target-fade {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@-moz-keyframes target-fade {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

html {
    scroll-behavior: smooth;
}

/**********  Scrollbar **********/

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(86, 83, 83);
}

body {
    background-color: var(--light-background);
    /* color: #111; */
}

/* Content */
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

label {
    display: inline-block;
    cursor: default;
}

input,
textarea {
    box-shadow: var(--shadow-md);
    background: var(--light-background-2);
    color: var(--light-color);
}

.shadow {
    box-shadow: var(--shadow-md);
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/**************** Multi Select ****************/

.about,
.services,
.skills,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 3px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--light-color);
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 15px;
    color: var(--main-color);
    padding: 0 5px;
    background: var(--light-background);
    transform: translateX(-50%);
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.sticky {
    padding: 15px 0;
    background: var(--main-color);
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: var(--main-color);
    transition: all 0.3s ease;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a,
.navbar .menu .checbox-field {
    display: block;
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: var(--main-color);
}

.navbar .checkbox {
    opacity: 0;
    position: absolute;
}

.navbar .checbox-field i {
    font-size: 16px;
    transition: all 0.3s ease;

}

.navbar .label {
    width: 50px;
    height: 26px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.navbar .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.navbar .checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.navbar .fa-moon {
    color: pink;
}

.navbar .fa-sun {
    color: yellow;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--main-color);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

/*--------------------------------------------------------------
# Home Style
--------------------------------------------------------------*/

.home {
    background-attachment: fixed;
    background-position: center;
    display: flex;
    background: url("../img/banner-2.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Ubuntu", sans-serif;
    box-shadow: var(--inner-shadow);
}

.home .max-width {
    width: 100%;
    display: flex;
}

.home .max-width .row {
    margin-right: 0;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: var(--main-color);
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: var(--main-color);
    background: none;
}

/*--------------------------------------------------------------
# Aboutme Style
--------------------------------------------------------------*/
.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: var(--main-color);
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: var(--main-color);
    background: none;
}

/*--------------------------------------------------------------
# Service Style
--------------------------------------------------------------*/
.services {
    color: var(--light-color);
}

.services .title::before {
    background: var(--light-color);

}

.services .title::after {
    background: var(--light-background);
    content: "service";
}


.services .serv-content .card {
    width: calc(33% - 20px);
    background: var(--light-background-2);
    color: var(--light-color);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--shadow-md);
    margin: 10px;
}

.services .serv-content .card:hover {
    background: var(--main-color);
    color: #fff !important;
}

.services .serv-content .card .box {
    transition: all 0.2s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: var(--main-color);
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*--------------------------------------------------------------
# Skill
--------------------------------------------------------------*/
.skills .title::after {
    content: "what i know";
}

.skills .skills-content .skills-img img {
    width: 161px;
    padding: 10px;
    border-radius: 30px;
}

.skills .skills-content .skills-img img:hover {
    opacity: 0.7;
    transition: 0.4s all;

}

.skills .skills-content .skills-img {
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 
.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: 500.php;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: var(--main-color);
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500.php;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .js::before {
    width: 80%;
}

.skills-content .right .php::before {
    width: 50%;
}

.skills-content .right .mysql::before {
    width: 70%;
} */

/*--------------------------------------------------------------
# contact
--------------------------------------------------------------*/
.contact .title::after {
    content: "Kontaktoni";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: var(--main-color);
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title,
.contact .contact-content .info .head,
.contact .contact-content .text {
    color: var(--light-color);
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.input-form,
.textarea-form {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.input-form:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.textarea-form {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area .btn {
    width: 160px !important;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}

.btn {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--main-color);
    background: none;
}


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog .card {
    margin: 10px;
}

.blog .title::after {
    content: "What I ....";
}

.blog img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.blog .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: var(--shadow-md);
    border-radius: 1em;
    background: var(--light-background-2);
    margin: 10px;
}

.blog .card:hover {
    box-shadow: var(--shadow-lg);
    cursor: pointer;
}

.blog .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog .tag {
    align-self: flex-start;
    padding: 0.25em 0.75em;
    border-radius: 1em;
    font-size: 0.75rem;
}

.blog .tag+.tag {
    margin-left: 0.5em;
}

.blog .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

.blog .card__body h4 {
    font-size: 1.5rem;
    color: var(--light-color);
    text-transform: capitalize;
}

.blog .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.blog .user {
    display: flex;
    gap: 0.5rem;
}

.blog .user__info h5 {
    color: var(--light-color);
}

.blog .user__image {
    border-radius: 50%;
}

.blog .user__info>small {
    color: rgb(131, 131, 131);
}

/*--------------------------------------------------------------
# Single Blog
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Login And Register Form
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    background: #111;
    padding: 32px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: var(--main-color);
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}


/*--------------------------------------------------------------
# Admin Pannel
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Responsive Media Query Start
--------------------------------------------------------------*/


@media (max-width: 421px) {
    .skills .skills-content .skills-img img {
        width: 100px;
    }

    .title::after {
        font-size: 10px;
    }
}

@media (max-width: 442px) {
    .skills-img img {
        width: 10px;
    }
}

@media (max-width: 530px) {
    .skills .skills-content .skills-img img {
        width: 125px;
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 930px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}


@media (max-width: 500px) {

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }

    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .contact .right form .fields {
        flex-direction: column;
    }

    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


@media (max-width: 579px) {
    .blog .card {
        width: 400px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .about .about-content {
        /*width: 100%;*/
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services .serv-content .card {
        width: 100%;
    }

    .blog .skills-img img {
        width: 10px;
    }
}

@media (max-width: 828px) {
    .about .about-content .left {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto 40px;
    }

}

@media (max-width: 880px) {
    .blog {
        max-width: 1300px;
        padding: 0 30px;
        margin: auto;
    }
}

@media (max-width: 928px) {
    .about .about-content .right {
        padding: 10px;
    }

    .about .about-content .left img {
        height: 320px;
        width: 320px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 1079px) {
    .blog .card {
        width: 240px
    }
}


@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 1168px) {

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a,
    .navbar .menu .checbox-field {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .navbar .menu .checbox-field i {
        font-size: 15px;
    }

}

@media (max-width: 1256px) {
    .blog .card {
        width: 284px
    }
}